@charset "utf-8";

#about-me
{
  height: 400px;
  overflow: auto;
  display: flex;
  flex-flow: row  nowrap;
}

img
{
  max-width: 600px;
  max-height: 500px;
}

h2
{
  margin-top: 30px;
}

#interest-container
{
  display: flex;
  column-gap: 10px;
}

#interest-container a
{
  padding: 10px;
  font-size: 1.5rem;
}